@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

*{
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
    padding: 0;
}
.main .about-me{
    display: flex;
}
.main .about-me .info{
    display: inline-flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main .about-me .info h1{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 86px;
    margin: 10px;
}
.main .about-me .info .networks{
    font-size: 40px;
    position: relative;
    margin: 80px 80px 0 0;
}
.main .about-me .info .github{
    margin-left: 30%;
}
.main .about-me .info .pro-pic img{
    display: block;
    height: 500px;
    box-shadow: 7px 7px 18px 0px rgba(255,255,255,0.9);
}
